<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.biz.pet.domain.DeptDTO"
			alias="DeptDTO" />
		<typeAlias type="com.biz.pet.domain.ProductDTO"
			alias="ProductDTO" />
		<typeAlias type="com.biz.pet.domain.IolistVO"
			alias="IolistVO" />
		<typeAlias type="com.biz.pet.domain.IolistDTO"
			alias="IolistDTO" />
		<typeAlias type="com.biz.pet.domain.BloodTestDTO"
			alias="BloodTestDTO" />
		<typeAlias type="com.biz.pet.domain.LungDTO"
			alias="LungDTO" />
		<typeAlias type="com.biz.pet.domain.LungExplDTO"
			alias="LungExplDTO" />

	</typeAliases>


</configuration>